<%= link_to "アカウント", members_account_path,class:"subtitle" %>
<%= link_to "プロフィール", members_profile_path,class:"subtitle" %><br>

 <h2 class= "title">アカウント</h2>

  <%= form_with model: @member,url: edit_member_registration_path,method: :get do |f| %>
   <%= f.label :メールアドレス %><br>
   <%= @member.email %><br>

   <%= f.label :パスワード %>
   <p>*********</p>

    <button class= "button is-info">編集</button>

<% end %>